!doctype html>
<html>
<head>
    <title>Register - <%= shopName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <h1>Register</h1>
    <form action="/registered" method="POST">
        <label>First Name:</label> <input type="text" name="first" required><br>
        <label>Last Name:</label> <input type="text" name="last" required><br>
        <label>Email:</label> <input type="email" name="email" required><br> 
        <input type="submit" value="Register">
    </form>
</body>
</html>